* {
	margin: 0;
	padding: 0;
}

.click { cursor: pointer }

/* */

#soundpiece {
	display: flex;
	height: 100vh;
	width: 100vw;
}

svg {
	height: 85vh;
	grid-row: 1;
	grid-column: 1;
}

#bathroom-drawing { visibility: hidden }
#classroom-drawing { visibility: hidden }
#dining-hall-drawing { visibility: hidden }
#library-cafe-drawing { visibility: hidden }
#football-field-drawing { visibility: hidden }
#snack-room-drawing { visibility: hidden }
#bedtime-drawing { visibility: hidden }

.drawing {
	background-color: #F8F8F8;
	display: grid;
	justify-content: left;
	align-items: center;
	width: 70%;
}

/* */

.menu {
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.emoji {
	display: grid;
	justify-content: center;
	align-items: center;
}

.emoji img {
	height: 65vh;
	grid-row: 1;
	grid-column: 1;
}

#bathroom-emoji { visibility: hidden }
#classroom-emoji { visibility: hidden }
#dining-hall-emoji { visibility: hidden }
#library-cafe-emoji { visibility: hidden }
#football-field-emoji { visibility: hidden }
#snack-room-emoji { visibility: hidden }
#bedtime-emoji { visibility: hidden }

.prompt {
	display: grid;
	justify-content: center;
	align-items: center;
}

.prompt p {
	font-family: "Brush Script MT", "Tahoma", sans-serif;
	font-size: 25pt;
	grid-row: 1;
	grid-column: 1;
}

/*

#bedroom-message { visibility: hidden; display: none; }
#bathroom-message { visibility: hidden; display: none; }
#classroom-message { visibility: hidden; display: none; }
#dining-hall-message { visibility: hidden; display: none; }
#library-cafe-message { visibility: hidden; display: none; }
#football-field-message { visibility: hidden; display: none; }
#snack-room-message { visibility: hidden; display: none; }
#bedtime-message { visibility: hidden; display: none; }

*/

.control img {
	height: 15vh;
	border-radius: 50%;
}

#play-button:hover { content: url("Play Pressed.jpeg") }
#pause-button:hover { content: url("Pause Pressed.jpeg") }
#replay-button:hover { content: url("Replay Pressed.jpeg") }

/*

.fade-in { 
	animation-name: fade-in; 
	animation-duration: 2.8s; 
	animation-fill-mode: forwards; 
}

@keyframes fade-in { 
	from { opacity: 0 }
	to { opacity: 1 } 
}

*/

.drawing-fade-out { 
	animation-name: drawing-fade-out; 
	animation-duration: 2.8s; 
	animation-fill-mode: forwards; 
}

@keyframes drawing-fade-out { 
	from { opacity: 1; }
	to { opacity: 0; visibility: hidden; } 
}

/* */

.message-fade-in { 
	animation-name: message-fade-in; 
	animation-duration: 1.4s; 
	animation-fill-mode: forwards; 
}

@keyframes message-fade-in { 
	from { opacity: 0; visibility: visible; display: block; }
	to { opacity: 1; } 
}

.message-fade-out { 
	animation-name: message-fade-out; 
	animation-duration: 1.4s; 
	animation-fill-mode: forwards; 
}

@keyframes message-fade-out { 
	from { opacity: 1; }
	to { opacity: 0; visibility: hidden; display: none; } 
}

/* */

.page-fade-in { 
	animation-name: page-fade-in; 
	animation-duration: 1.4s; 
	animation-fill-mode: forwards; 
}

@keyframes page-fade-in { 
	from { opacity: 0; }
	to { opacity: 1; } 
}

.page-fade-out { 
	animation-name: page-fade-out; 
	animation-duration: 1.4s; 
	animation-fill-mode: forwards; 
}

@keyframes page-fade-out { 
	from { opacity: 1; }
	to { opacity: 0; } 
}

/*

.routine {
	display: flex;
}

.drawing {
	display: flex;
}

.menu {
	display: flex;
}

*/
